<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="BookvikDB" connectionString="Server = bookvik.net;Database=bookvik_production;Uid=bidon;Pwd=Lw8V5dy;" />
  </connectionStrings>
</configuration>